<h1>app/views/users/show.html.erb ページ</h1>

<div class="container">
  <div class="row">
    <%= render 'list' %>
  </div>

  <!-- 右上: Books -->
  <h1>Books</h1>
  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>Title</th>
        <th>Opinion</th>
        <th>項目削除する</th>
      </tr>
    </thead>
    <tbody>
      <% @books.each do |book| %>
        <tr>
          <td>
            <% if book.user.image.present? %>
              <%= image_tag book.user.image, class: "img-thumbnail", size: "100x100" %>
            <% else %>
              <div class="no-image-placeholder">
                <p>NO IMAGE</p>
              </div>
            <% end %>
          </td>
          <td><%= link_to book.title, book_path(book) %></td>
          <td><%= book.body %></td>
    
          <td><%= link_to 'Back', users_path %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>