<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/ca5b9dbee1.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand text-white" href="/">Bookers</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <% if user_signed_in? %>
         <!-- ログイン中のベッター-->
          <li class="nav-item">
            <%= link_to "<i class='fa-sharp fa-solid fa-house'></i> Home".html_safe, user_path(current_user), class: "nav-link text-white" %>
          </li>
          <li class="nav-item">
            <%= link_to "<i class='fa-solid fa-users'></i> Users".html_safe, users_path, class: "nav-link text-white" %>
          </li>
          <li class="nav-item">
            <%= link_to "<i class='fa-solid fa-book-open'></i> Books".html_safe, books_path, class: "nav-link text-white" %>
          </li>
          <li class="nav-item">
            <%= link_to "<i class='fa-solid fa-right-from-bracket'></i> Log out".html_safe, destroy_user_session_path, method: :delete, class: "nav-link text-white" %>
          </li>
        <% else %>
         <!-- ログイン前のベッター-->
          <li class="nav-item">
            <%= link_to "<i class='fa-sharp fa-solid fa-house'></i> Home".html_safe, root_path, class: "nav-link text-white" %>
          </li>
          <li class="nav-item">
            <%= link_to "<i class='fa-solid fa-link'></i> About".html_safe, home_about_path, class: "nav-link text-white" %>
          </li>
          <li class="nav-item">
            <%= link_to "<i class='fa-solid fa-user-plus'></i> Sign up".html_safe, new_user_registration_path, class: "nav-link text-white" %>
          </li>
          <li class="nav-item">
            <%= link_to "<i class='fa-solid fa-right-to-bracket'></i> Log in".html_safe, new_user_session_path, class: "nav-link text-white" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  </header>

  <!-- フラッシュメッセージ-->
  <div class="container">
    <% if notice %>
      <div class="alert alert-success">
        <%= notice %>
      </div>
    <% end %>
    
    <% if alert %>
      <div class="alert alert-danger">
        <%= alert %>
      </div>
    <% end %>
  </div>

  <%= yield %>

  <footer>
  <div class="col-md-4 mx-auto mt-5">
    <p>CopyRight Infratop.inc</p>
  </footer>
  </body>
</html>
